.members {
  --padding: 16px;
  padding: var(--padding);
  position: relative;
  .input {
    
  }
  .title {
    
  }
  .close-btn {
    position: absolute;
    top: var(--padding);
    right: var(--padding);
  }
}