.create-board-section {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);

  .create-board-container {
    min-height: 250px;
    width: 100vw;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 5px;
    position: absolute;
    top: 20%;
    z-index: 5;
    padding: 20px;
    display: flex;
    flex-direction: column;

    @include for-medium-layout {
      left: 25vw;
      width: 400px;
    }

    button {
      align-self: flex-start;
      padding: 5px 8px;
      border-radius: 3px;
      background-color: royalblue;
      color: white;
      width: fit-content;

      &.exit-btn {
        align-self: flex-end;
      }
    }

    >*:not(:last-child) {
      margin-bottom: 15px;
      
      @include for-medium-layout {
        margin-bottom: 10px;
      }
    }
  }
}