.board-members-section {

    .board-members-btn {
        color: white;
        // background-color: rgba(173, 216, 230, 0.418);
        background-color: rgba(255, 255, 255, 0.349);
        text-transform: none;

        &:hover {
            // background-color: rgba(173, 216, 230, 0.603);
            background-color: rgba(255, 255, 255, 0.507);
        }

        img {
            width: 15px;
            height: 15px;
            margin-inline-end: 8px;
            
        }
    }

    .MuiButton-root {
        padding: 6px 8px;
        @include for-narrow-layout {
            padding: 6px 16px;
          }
    }
}