.board {
  position: relative;
  height: 94vh;
  overflow-y: hidden;
  @include scrollBar(14px, #2934624f);

  // @include for-narrow-layout {
  //   height: 90vh;
  // }

  h3 {
    margin: 0 0 0 0.5rem;
  }
  > .container {
    height: 100%;
    @import '../../components/Board/AddList/AddList';
  }
}
