.reusable {
  padding: 12px;
  width: 250px;
  background-color: $white;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  
  .logged-user {
    cursor: not-allowed;
    order: -1;
    &:hover {
      background-color: transparent !important;
      filter: none !important;
    }
  }
}
