$listPadding: 6;
$listHeight: 83.5vh;
.list {
  padding: 0 $listPadding + 0px;
  height: fit-content;
  .trashing {
    transition: 450ms ease-in;
    transform: rotate(-10deg) scale(0);
    opacity: 0;
    filter: blur(8px);
  }
  .dropping {
    transition: 150ms ease-out;
    transform: rotate(0deg);
    &.card-container {
      box-shadow: $shadow2 !important;
    }
  }
  .dragging {
    transition: 150ms;
    transform: rotate(3deg);
    &.card-container {
      box-shadow: $shadow3 !important;
    }
  }
  > .container {
    width: $listWidth + 0px;
    border-radius: 4px;
    max-height: $listHeight;
    padding: 6px;
    height: fit-content;

    @import './ListHeader/ListHeader';
    @import './AddCard/AddCard';

    > .cards {
      min-height: 0.1px;
      overflow-y: auto;
      @include scrollBar(6px, #2934624f);
    }
  }
}
