.boards-select-section {
    
    .boards-select-btn {
        // background-color: rgba(173, 216, 230, 0.418);
        background-color: rgba(255, 255, 255, 0.349);
        text-transform: none;

        &:hover {
            // background-color: rgba(173, 216, 230, 0.603);
            background-color: rgba(255, 255, 255, 0.507);
        }
    }

    
    .boards-select-item {
        
        &:hover {
            background-color: rgba(173, 216, 230, 0.603);
        }
        
        li:focus {
            background-color: unset;
        }
    }
}
.MuiPaper-root {
    color: #323232 !important;
}