.login-signup {
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  border: 1px solid gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  padding: 20px;

  @include for-medium-layout {
    height: auto;
    width: 400px;
  }

  .login-form,
  .signup-form {
    img {
      width: 50px;
      margin-bottom: 15px;
      cursor: pointer;
    }

    .upload-img {
      display: none;
    }
    .field-invalid {
      color: red;
      font-size: 12px;
    }
  }

  .forms-seperator {
    margin-bottom: 15px;
  }
}
