.create-board-section {
  margin-top: 25vh;  
  width: 90vw;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 5px;
  @include for-medium-layout {
    margin-top: 20vh;
    width: 400px;
  }

  .create-board-container {
    z-index: 5;
    padding: 20px;
    display: flex;
    flex-direction: column;


    .title-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px !important;

      h2 {
        font-weight: bold;
        text-decoration: underline;
      }
    }

    button {
      align-self: flex-start;
      padding: 5px 8px;
      border-radius: 3px;
      background-color: royalblue;
      color: white;
      width: fit-content;

      &.exit-btn {
        align-self: flex-end;
      }
    }

    >*:not(:last-child) {
      margin-bottom: 15px;
      
      @include for-medium-layout {
        margin-bottom: 10px;
      }
    }
  }
}