.color-picker-section {
    

    .color-picker-btn {
        color: white;
        background-color: rgba(255, 255, 255, 0.349);
        text-transform: none;
        max-height: 36px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.507);
        }

        svg {
            width: 25px;
            height: 25px;            
        }
    }

    .MuiButton-root {
        padding: 6px 8px;
        @include for-narrow-layout {
            padding: 6px 16px;
          }
    }    
}

.colors-section{
    padding: 10px;
    text-align: center;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

    .colors-container {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        
        .color-item {
            height: 45px;
            width: 75px;
            cursor: pointer;
            border-radius: 3px;
            transition: 0.3s;

            &:hover {
                filter: brightness(1.1);
            }
        }
    }
}