.get-started-section {
  background-color: #f67e7e;
  grid-column: 1 / span 3;
  height: 200px;
  color: #012F34;

  .container {
    position: relative;
    grid-column: 2 / span 1;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    z-index: 1;

    img {
      position: absolute;
      bottom: -56px;
      left: -108px;
      width: 200px;
      opacity: 0.7;
      
      @include for-narrow-layout {
        opacity: 0.8;
        left: -97px;
      }
    }

    main {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;

      h2 {
        font-size: 2.5rem;
        font-weight: bold;
        
        @include for-narrow-layout {
          font-size: 2.75rem;
        }
      }

      button {
        border-radius: 30px;
        width: 128px;
        background-color: transparent;
        padding: 0 20px;
        color: #012F34;
        border: 1.5px solid #012F34;
        height: 40px;

        @include for-narrow-layout {
          width: fit-content;
        }
      }
    }
  }
}