.attachment-section {
  padding: 10px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;


  >p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .attachment-form {
    display: flex;
    flex-direction: column;

    img {
      width: 30px;
      margin-bottom: 10px;
      cursor: pointer;
    }

    .upload-img {
      display: none;
    }

    button {
      padding: 3px 6px;
      border-radius: 3px;
      background-color: royalblue;
      color: white;
      width: fit-content;

  }
  }

  .label-container {
    display: flex;
    >*:not(:last-child) {
      margin-inline-end: 10px;
    }

    .uploaded-svg {
      width: 20px;
      height: 20px;
    }
  }

}