.add-list {
  padding: 0 $listPadding + 0px;
  min-width: $listWidth + 0px;
  > button {
    * {
      color: $white !important;
    }
  }
  > * {
    min-height: 50px;
    padding: $listPadding;
    input {
      padding: 8px 6px;
      font-size: 14px;
      font-weight: bold;
      border: 2px solid transparent;
      cursor: pointer;
      &:focus {
        cursor: initial;
        background-color: white;
        border-color: rgb(120, 120, 120);
      }
    }
  }
}
