// COLOR PALETTE

$brand: #9149a7;
$white: #ffffff;
$gray: #cfcfcf;
$black: #111111;

// LAYOUT BREAKPOINTS

$breakNarrow: 500px;
$breakMedium: 769px;
$breakDesktop: 900px;
$breakWide: 1100px;

$cardPadding: 6px;
$cardRadius: 4px;

$shadow1: 0px 1px 4px 1px rgba(100, 100, 100, 0.4);
$shadow2: 0px 2px 2px 0px rgba(100, 100, 100, 0.3);
$shadow3: 0px 4px 8px 0px rgba(80, 80, 80, 0.5);

$listWidth: 260;
