// COLOR PALETTE

$brand: #9149a7;
$white: #f8f8f8;
$grey1: #c9c9c9;
$grey2: #929292;
$grey3: #505050;
$black: #111111;

// LAYOUT BREAKPOINTS

$breakNarrow: 500px;
$breakMedium: 769px;
$breakDesktop: 900px;
$breakWide: 1100px;

$cardPadding: 6px;
$listPadding: 6px;
