header {
  height: 10vh;
  background-color: $black;
  color: $white;
  padding: 0.5rem;
  nav {
    width: 200px;
    .active {
      color: green;
    }
  }

  // .add-board-btn {
  //   border: 1px solid white;
  //   padding: 0 5px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   text-align: center;
  // }
}
