header {
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.13);
  // border-bottom: 0.2px solid white;
  color: $white;
  padding: 0.5rem;

  nav {
    width: 220px;

    .nav-item {
      border-radius: 3px;
      padding: 6px 8px;
      background-color:  rgba(173, 216, 230, 0.418);
      font-weight: bold;
    }

    .active {
      background-color: rgba(173, 216, 230, 0.747);
    }

  }

  .logo-container {
    display: flex;
    align-items: center;
    
    p {
      font-size: 1.8rem;
      font-weight: bold;
      margin: 0;
      font-style: italic;
    }

    svg {
      height: 35px;
      width: 35px;
      margin: 0 3px 0 0;
    }
  }
  
  .nav-item.add-board-btn {
  //   border: 1px solid white;
    padding: 6px 11px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   text-align: center;
  }
}