header {
  height: $headerHeight;
  background-color: $black;
  position: sticky;
  top: 0;
  z-index: 10;
  color: $white;
  grid-row: 1;
  nav {
    width: 200px;
    .active {
      color: green;
    }
  }

  // .add-board-btn {
  //   border: 1px solid white;
  //   padding: 0 5px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   text-align: center;
  // }
}
