.is-dragging .card-preview {
  box-shadow: 0 2px 12px 0 rgba($color: #5f5f5f, $alpha: 0.5) !important;
}
.card-drop-container {
  > .rect-ref {
    border-radius: $cardPadding;
    padding-bottom: $cardPadding;
    > .placeholder {
      border-radius: inherit;
      position: relative;
      &.top {
        padding-bottom: $cardPadding;
      }
      &.bottom {
        padding-top: $cardPadding;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: calc(100% - #{$cardPadding});
        border-radius: inherit;
        background-color: #d5d6da;
        filter: brightness(0.9);
      }
    }

    .card-preview {
      min-height: 100px;
      width: 100%;
      box-shadow: 0 2px 2px 0 rgba($color: #5f5f5f, $alpha: 0.3);
      border-radius: inherit;
      background-color: #ffffff;
      cursor: grab;
      &:hover {
        filter: brightness(0.93);
      }
      > .container {
        height: 100%;
        width: 100%;
        padding: 6px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .card-title {
          margin-bottom: 8px;
          color: rgb(50, 50, 50);
        }

        .labels-section {
          display: flex;

          .label {
            width: 40px;
            height: 9px;
            border-radius: 5px;

            &:not(:last-child) {
              margin-inline-end: 5px;
            }
          }
        }

        .due-date {
          display: flex;
          align-items: center;
          padding: 4px 5px;
          border-radius: 3px;
          background-color: royalblue;
          width: fit-content;
          max-height: 28px;

          p {
            color: whitesmoke;
            font-size: 0.85rem;
            margin: 0;
            padding-bottom: 2px;
          }

          img {
            width: 16px;
            height: 16px;
            margin-inline-end: 5px;
          }
        }

        .bottom-section {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .MuiAvatarGroup-avatar {
            height: 30px;
            width: 30px;
            font-size: 1rem;
          }
        }
      }

      img {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}
