.checklist-section {

  form {
    >*:not(:last-child) {
      margin-bottom: 10px;
    }

    button {
      align-self: flex-start;
      padding: 4px 7px;
      border-radius: 3px;
      background-color: royalblue;
      color: white;
      width: fit-content;
    }
  }

  input {
    height: 30px;
  }

  label {
    font-weight: bold;
    font-size: 0.9rem;
    color: rgb(58, 57, 57);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
}