.modal-screen {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100vw;
  overflow: auto;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  @include for-medium-layout {
    @include scrollBar(12px, whitesmoke);
  }

  >.modal-section {
    min-height: 600px;
    width: 100vw;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 10vh 0;

    h3 {
      font-weight: bold;
      color: rgb(73, 73, 73);
    }

    @include for-medium-layout {
      width: 800px;
    }

    >.container {
      height: 100%;
      display: grid;
      grid-template-columns: 2fr 2fr 1fr;

      .card-title {
        font-weight: bold;
        border-radius: 4px;
        border: 2px solid transparent;
        font-weight: bold;
        font-size: 1.4rem;
        padding: 6px;
        margin-left: -6px;
        cursor: pointer;

        &:focus {
          cursor: initial;
          background-color: white;
          border-color: rgb(66, 66, 66);
        }
      }

      .modal-header {
        grid-column: 1 / span 3;

        input {
          background-color: whitesmoke;
        }

        .title-header {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          img {
            width: 20px;
            height: 20px;
            margin-inline-end: 10px;
          }
        }
      }

      .modal-btn {
        padding: 6px 12px;
        cursor: pointer;
        border-radius: 6px;
        background-color: rgba(173, 172, 172, 0.26);

        &:hover {
          background-color: rgba(173, 172, 172, 0.733);
        }
      }

      .exit-btn {
        width: 36px;
        height: 36px;
        border-radius: 100px;

        &:hover {
          background-color: rgba($color: gray, $alpha: 1);
        }
      }

      .modal-subtitle {
        span {
          text-decoration: underline;
        }
      }

      .content {
        // width: 75%;
        padding-right: 16px;
        grid-column: 1 / span 3;
        
        @include for-medium-layout {
          grid-column: 1 / span 2;
        }

        .members-container {
          margin-bottom: 15px;

          h4 {
            font-weight: bold;
            font-size: 1rem;
          }
        }

        .attachments-container {
          display: flex;
          flex-direction: column;
          gap: 8px;
          margin-bottom: 20px;

          .attachments-header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
  
            img {
              width: 20px;
              height: 20px;
              margin-inline-end: 10px;
            }
          }

          .attach-container {
            >:not(:last-child) {
              margin-inline-end: 5px;
            }
          }

          img {
            width: 110px;
            height: 160px;
            object-fit: cover;
          }
        }

        .desc-container {
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          gap: 15px;

          .desc-header {
            display: flex;
            align-items: center;

            img {
              width: 21px;
              height: 23px;
              margin-inline-end: 10px;
            }
          }

          .makeStyles-root-1 .MuiTextField-root,
          .makeStyles-root-6 .MuiTextField-root {
            margin: 0 0 10px;
          }

          textarea {
            width: 360px;
            height: 20px;
            margin: 0;
            font-size: 0.9rem;
            cursor: pointer;

            &:focus {
              height: 100px;
              cursor: initial;
            }
          }
        }

        .labels-section {

          h3 {
            font-size: 1.08rem;
          }

          .labels-container {
            padding: 8px 0 10px;
          }

          .label {
            padding: 6px 10px;
            border-radius: 6px;
            color: whitesmoke;

            &:hover {
              filter: brightness(1.1);
            }

            &:not(:last-child) {
              margin-right: 6px;
            }

            .activity-main {
              display: flex;
              align-items: center;
              gap: 8px;

              p {
                font-size: 0.6rem;
              }
            }

            .label {
              width: 40px;
              height: 40px;
              border-radius: 5px;
            }
          }
        }

        .activity-section {
          
          .activity-header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            img {
              width: 20px;
              height: 20px;
              margin-inline-end: 10px;
            }
          }

          .activity-container {
            li {
              &:not(:last-child) {
                margin-bottom: 12px;
              }

              .activity-main {
                display: flex;
                align-items: center;
                gap: 8px;

                h3 {
                  font-size: 1rem;
                }

                p {
                  margin: 0;
                  font-size: 0.9rem;
                  color: rgb(82, 81, 81);
                }
              }

              >p {
                font-size: 0.9rem;
                color: rgb(105, 103, 103);
              }
            }

            .activity-secondary {
              display: flex;

              >:first-child {
                margin-inline-end: 8px;
              }

              >p {
                font-size: 0.9rem;
                color: rgb(105, 103, 103);
              }
            }

            .activity-txt {
              display: flex;
              flex-direction: column;
              gap: 4px;
            }
          }
        }

      }
    }
  }
}