.checklists-section {
  margin-bottom: 20px;

  .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    >button {
      align-self: flex-start;
      padding: 5px 8px;
      border-radius: 3px;
      // background-color: royalblue;
      background-color: rgb(216, 216, 216);
      color: rgb(58, 57, 57);
      width: fit-content;
    }
  }

  .checklist-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 0;
    border-radius: 4px;

    .checklist-item-main {
      display: flex;
      align-items: center;

      >*:not(:last-child) {
        margin-inline-end: 10px;
      }

      .PrivateSwitchBase-root-17 {
        padding: 0;
      }

      
      p {
        margin: 0;
      }
    }
    &:last-of-type {
      margin-bottom: 10px;
    }

    &:hover {
      background-color: rgba(211, 211, 211, 0.548);
    }


  }

  >button {
    align-self: flex-start;
    padding: 5px 8px;
    border-radius: 3px;
    // background-color: royalblue;
    background-color: rgb(216, 216, 216);
    color: rgb(58, 57, 57);
    width: fit-content;
  }

  .add-item-container {
    display: flex;
    flex-direction: column;

    input {
      height: 70px;
      border-radius: 4px;
      border: 1px solid gray;
      margin-bottom: 7px;
    }

    .btns-container {
      display: flex;

      button {
        align-self: flex-start;
        padding: 5px 8px;
        border-radius: 3px;
        background-color: royalblue;
        color: white;
        width: fit-content;

        &:last-child {
          background-color: lightgray;
          color: rgb(58, 57, 57);
        }
      }

      :not(:last-child) {
        margin-inline-end: 10px;
      }
    }
  }
}