.board-header-section {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
  padding: 5px;

  h2 {
    font-weight: bold;
  }

  >*:not(:last-child) {
    margin-inline-end: 10px;
  }
}

.MuiButton-contained {
  box-shadow: unset !important;
}