.card-drop-container {
  cursor: grab;
  > .rect-ref {
    border-radius: $cardRadius;
    padding-bottom: $cardPadding;
    > .card-preview {
      border-radius: inherit;
      > .container {
        border-radius: inherit;
        &:hover {
          filter: brightness(0.95);
          &.menu-btn-hovered {
            filter: none;
          }
        }

        > .labels {
          > .label {
            width: 40px;
            height: 9px;
            border-radius: 3px;

            &:not(:last-child) {
              margin-inline-end: 5px;
            }
          }
        }

        .due-date {
          padding: 4px 5px;
          border-radius: 3px;
          background-color: royalblue;
          width: fit-content;
          max-height: 28px;

          > p {
            color: whitesmoke;
            font-size: 0.85rem;
            margin: 0;
          }

          > img {
            width: 16px;
            height: 16px;
            margin-inline-end: 5px;
          }
        }

        .MuiAvatarGroup-avatar {
          height: 30px;
          width: 30px;
          font-size: 1rem;
        }

        img {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }
}
