.card-preview {
  border-radius: $cardRadius;
  cursor: grab;
  > .card-container {
    border-radius: inherit;
    &:hover {
      filter: brightness(0.95);
      &.menu-btn-hovered {
        filter: none;
      }
    }

    > .labels {
      cursor: auto;
      > .label {
        width: 40px;
        height: 9px;
        border-radius: 3px;

        &:not(:last-child) {
          margin-inline-end: 5px;
        }
      }
    }

    .desc {
      font-size: 12px;
    }

    .due-date {
      padding: 4px;
      border-radius: 2px;
      background-color: gray;
      align-self: end;

      > p {
        color: whitesmoke;
        font-size: 12px;
        margin: 0;
      }

      > img {
        width: 14px;
        height: 14px;
        margin-inline-end: 5px;
      }
    }

    .MuiAvatarGroup-avatar {
      cursor: auto;
      height: 30px;
      width: 30px;
      font-size: 1rem;
    }

    img {
      width: 80%;
      margin: 0 auto;
    }
  }
}
// }
// }
