.quotes-section {
  background-color: #004047;
  grid-column: 1 / span 3;
  // height: 744px;
  padding: 30px 10px;
  position: relative;
  color: $white;

  @include for-medium-layout {
    height: 744px;
    padding: 0;
  }

  .bgc-img-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 147px;
    height: 100px;
  }

  .bgc-img-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 201px;
    height: 100px;
  }

  .quotes-container {
    grid-column: 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 140px;

    h1 {
      font-size: 2.5rem;
      max-width: 300px;
      text-align: center;
      margin-top: 75px;
      margin-bottom: 100px;
      
      @include for-medium-layout {
        max-width: 883px;
        font-size: 2.75rem;
        margin-top: 0;
        margin-bottom: 140px;
      }

      span {
        color: #79c8c7;
      }
    }

    main {
      display: flex;
      flex-direction: column;
      gap: 30px;
      
      @include for-medium-layout {
        flex-direction: row;
        align-items: flex-start;
      }

      >* {
        margin-bottom: 75px;
        
        @include for-medium-layout {
          margin-bottom: 0;
          margin-inline-end: 30px;
        }
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 310px;
      position: relative;

      p {
        z-index: 1;
      }

      .item-avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4 {
          color: #79c8c7
        }

        img {
          border-radius: 50%;
          border: 2px solid #79c8c7;
          height: 60px;
          width: 60px;
          object-fit: cover;
        }

        svg {
          position: absolute;
          top: -35px;
        }
      }
    }
  }
}