footer {
  padding: 5px 0;
  height: 370px;
  background-color: #002529;
  grid-column: 1 / span 3;
  z-index: 1;
  color: $white;
  
  @include for-narrow-layout {
    padding: 21px 20px;
    height: 196px;
  }
  
  .footer-container {
    grid-column: 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    @include for-narrow-layout {
      flex-direction: row;
    }
  }
  
  nav {
    display: flex;
    flex-direction: column;
    // gap: 90px;

    @include for-narrow-layout {
      flex-direction: row;
    }
    
    .logo-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;

      @include for-narrow-layout {
        margin-bottom: 0;
        margin-inline-end: 90px;
      }

      .logo-div {
        display: flex;
        align-items: center;
        font-size: 2.4rem;
        margin-bottom: 15px;

        p {
          margin: 0;
          font-weight: bold;
          font-style: italic;
        }
        
        svg {
          height: 40px;
          width: 40px;
          margin-inline-end: 10px;
        }
      }

      .routes-container {
        display: flex;
        // gap: 40px;
        font-size: 1.125rem;

        >*:not(:last-child) {
          margin-inline-end: 40px;
        }
      }
    }

    img {
      width: 170px;
      height: 42px;
    }

    .address {
      display: flex;
      flex-direction: column;
      font-size: 0.9rem;

      >*:not(:last-child) {
        margin-bottom: 5px;
      }

      p {
        margin: 0;
      }
    }
  }

  .right-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 40px;
    font-size: 0.9rem;

    @include for-narrow-layout {
      align-items: flex-end;
    }
  }

  .social-container {
    display: flex;
    margin-bottom: 40px;
    // gap: 15px;

    >*:not(:last-child) {
      margin-inline-end: 15px;
    }

    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
}