&.due-date {
  .MuiPickersStaticWrapper-staticWrapperRoot {
    min-width: 0;
    max-width: 275px;
    .MuiPickersBasePicker-pickerView {
      min-width: 0;
      min-height: 0;
    }

    .MuiToolbar-root.MuiPickersDatePickerRoot-toolbar {
      margin-top: 6px;
      height: 30px;
      justify-content: start;
      .MuiTypography-root.MuiTypography-h4 {
        font-size: 20px;
      }
    }
    .MuiPickersCalendar-transitionContainer {
      min-height: 190px;
    }
  }
}
